<div id="home-index">
  <div class="row">
    <%= link_to "追加", "/women/new", class: "btn btn-info" %>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p><%= link_to "苗字 名前", "/women/1/edit" %></p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="profile-icon">
        <%= image_tag('sample.jpg') %>
      </div>
      <p>苗字 名前</p>
      <div class="balloon">
        <p>ひとことひとことひとこと</p>
      </div>
    </div>
  </div>
</div>